
<div class="window row">
    <div class="row">
        <div class='col-md-3 sidebar'>
                <!-- listings loop  -->
                <% @listings.each do |listing| %> 
                <div class="container">
                    <div class="row listing-box" >
                        <div>
                    	   <h4 class="brand"><%= listing.address %></h4>
                        </div>
                        <div>
                            <h4 class="brand"><%= listing.city %></h4>
                        </div>
                        <div>
                            <h4 class="brand"><%= listing.state %></h4>
                    	</div>
                    </div>
                </div>
                <% end %>
                <!-- listings loop  -->
            
        </div>
        <div class="col-md-9">
            <div id='map'></div>
        </div>
    </div>
</div>


<script>
    var json = <%=raw @json %>
    
    var features = []
    for (var i = 0; i < json.length; i++) {
   
        features.push({
            type: 'Feature',
                    properties: {
                        title: "$" + json[i].price + "/month",
                        'city': json[i].address
                        // 'marker-color': '#f86767'
                    },

                geometry: {
                    type: 'Point',
                    coordinates: [json[i].longitude, json[i].latitude]
                }
        });
    };
    
    var map = L.mapbox.map('map', 'marceldegas.o0meeli2').setView([39.7, -121.879523], 8);
    L.mapbox.featureLayer(features).addTo(map);


</script>











