<div class="container background-image">
	<div class="header">
		<div class="wrapper">
			<div class="wrapper">
				<h5>What Up Homes!</h5>
				<%= link_to "Login", login_path, {
					class: "btn btn-sm btn-primary"
					} %>

				<%= link_to "Sign Up", new_user_path, {
					class: "btn btn-sm btn-primary"
					} %>
				</div>
			</div>
	<div class="middle white">
		<!-- add a background video similar to Peters/ check airbnb-->
		<h2>LOVE WHERE YOU LIVE</h2>
		<h4>Discover everything about an address before renting or buying.</h4> 
		<!-- add drop down modal "how it works" -->
	</div>
	<div>
		<!-- search bar here. make the div sorta see-through to see the image in the back but still shaded -->
	</div>
</div>
<div class="historical_data_container">
	<div class="intro text-center">
		<h2 class="row-space-1"><strong>Interested in a region?</strong></h2>
		<p class="text-lead">Search our database for listings in a region</p>
	</div>
	<div class="discovery-tiles">
		<div></div>
		
	</div>
</div>
