<div class="background-image">
	
	<div class="middle">
		<div id="bgndVideo" class="player" 
	    	data-property="{videoURL:'http://youtu.be/uw08j-yOfcE',containment:'body',autoPlay:true, mute:true, startAt:5, opacity:1, addRaster:true, stopAt:75.5, showControls:false, stopMovieOnBlur:false}">
	    </div>


	</div>
	<h2>LOVE WHERE YOU LIVE</h2>
		<h4>Discover everything about an address before renting or buying.</h4> 
	<div>
		<!-- search bar here. make the div sorta see-through to see the image in the back but still shaded -->
	</div>
</div>
<div class="historical_data_container">
	<div class="intro text-center">
		<h2 class="row-space-1"><strong>Interested in a region?</strong></h2>
		<p class="text-lead">Search our database for listings in a region</p>
	</div>
	<div class="discovery-tiles">
		<div></div>
		
	</div>
</div>
