<!DOCTYPE html>
<html>
<head>
  <title>WhatUpHomes</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container background-image">
		<div class="header white">
			<!-- put the signup/ login buttons and logo here -->
		</div>
		<div class="middle white">
			<!-- add a background video similar to Peters/ check airbnb-->
			<h2>LOVE WHERE YOU LIVE</h2>
			<h4>Discover everything about an address before renting or buying.</h4> 
			<!-- add drop down modal "how it works" -->
		</div>
		<div>
			<!-- search bar here. make the div sorta see-through to see the image in the back but still shaded -->
		</div>
	</div>
	<div class="historical_data_container">
		<div class="intro text-center">
			<h2 class="row-space-1"><strong>Interested in a region?</strong></h2>
			<p class="text-lead">Search our database for listings in a region</p>
		</div>
		<div class="discovery-tiles">
			<div></div>
			
		</div>
	</div>
</body>
</html>
